.z-markdown-content :not(a, strong, em, del, span, input, code, br)+:not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
  margin-top: var(--z-space-4)
}

.z-markdown-content :not(h1, h2, h3, h4, h5, h6)+:is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  margin-top: var(--z-space-10)
}

.z-markdown-content li+li:not(:where(.not-content *)),
.z-markdown-content dt+dt:not(:where(.not-content *)),
.z-markdown-content dt+dd:not(:where(.not-content *)),
.z-markdown-content dd+dd:not(:where(.not-content *)) {
  margin-top: var(--z-space-1)
}

.z-markdown-content li:not(:where(.not-content *)) {
  overflow-wrap: anywhere
}

.z-markdown-content li>:last-child:not(li, ul, ol, a, strong, em, del, span, input, code, br, :where(.not-content *)) {
  margin-bottom: var(--z-space-6)
}

.z-markdown-content dt:not(:where(.not-content *)) {
  font-weight: 700
}

.z-markdown-content dd:not(:where(.not-content *)) {
  padding-inline-start: var(--z-space-4)
}

.z-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  color: var(--z-color-heading);
  line-height: var(--z-line-height-headings);
  font-weight: 600;
  scroll-margin-top: var(--z-space-4);
}

.z-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
  display: block;
  max-width: 100%;
  height: auto
}

.z-markdown-content h1:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-40)
}

.z-markdown-content h2:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-32)
}

.z-markdown-content h3:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-24)
}

.z-markdown-content h4:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-20)
}

.z-markdown-content h5:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-16)
}

.z-markdown-content h6:not(:where(.not-content *)) {
  font-size: var(--z-text-heading-14)
}

.z-markdown-content a:not(:where(.not-content *)) {
  color: var(--z-color-text-accent)
}

.z-markdown-content a:hover:not(:where(.not-content *)) {
  color: var(--z-color-blue-800);
}

.z-markdown-content code:not(:where(.not-content *)) {
  background-color: var(--z-color-bg-inline-code);
  margin-block: -.125rem;
  padding: var(--z-space-1) var(--z-space-2);
  font-size: var(--z-text-code-sm)
}

.z-markdown-content :is(h1, h2, h3, h4, h5, h6) code {
  font-size: inherit
}

.z-markdown-content pre:not(:where(.not-content *)) {
  border: 1px solid var(--z-color-border);
  padding: var(--z-space-3) var(--z-space-4);
  font-size: var(--z-text-code);
  tab-size: 2
}

.z-markdown-content pre code:not(:where(.not-content *)) {
  all: unset;
  font-family: var(--z-font-mono)
}

.z-markdown-content blockquote:not(:where(.not-content *)) {
  border-inline-start: 1px solid var(--z-color-border-hover);
  padding-inline-start: var(--z-space-4)
}

.z-markdown-content table:not(:where(.not-content *)) {
  display: block;
  overflow: auto;
  border-spacing: 0
}

.z-markdown-content :is(th, td):not(:where(.not-content *)) {
  border-bottom: 1px solid var(--z-color-border-hover);
  padding: var(--z-space-2) var(--z-space-4);
  vertical-align: baseline
}

.z-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)) {
  padding-inline-start: 0
}

.z-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
  padding-inline-end: 0
}

.z-markdown-content th:not(:where(.not-content *)) {
  color: var(--z-color-secondary);
  font-weight: 600
}

.z-markdown-content th:not([align]):not(:where(.not-content *)) {
  text-align: start
}

.z-markdown-content hr:not(:where(.not-content *)) {
  border: 0;
  border-bottom: 1px solid var(--z-color-hairline)
}

.z-markdown-content details:not(:where(.not-content *)) {
  --z-details-border-color: var(--z-color-border-hover);
  --z-details-border-color--hover: var(--z-color-text-accent);
  border-inline-start: 2px solid var(--z-details-border-color);
  padding-inline-start: var(--z-space-4)
}

.z-markdown-content details:not([open]):hover:not(:where(.not-content *)),
.z-markdown-content details:has(>summary:hover):not(:where(.not-content *)) {
  border-color: var(--z-details-border-color--hover)
}

.z-markdown-content summary:not(:where(.not-content *)) {
  color: var(--z-color-heading);
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin-inline-start: calc(var(--z-space-2) * -1);
  padding-inline-start: var(--z-space-2)
}

.z-markdown-content details[open]>summary:not(:where(.not-content *)) {
  margin-bottom: var(--z-space-4)
}

.z-markdown-content summary:not(:where(.not-content *))::marker,
.z-markdown-content summary:not(:where(.not-content *))::-webkit-details-marker {
  display: none
}

.z-markdown-content summary:not(:where(.not-content *)):before {
  --z-details-marker-size: var(--z-text-heading-20);
  background-color: currentColor;
  content: "";
  display: inline-block;
  height: var(--z-details-marker-size);
  width: var(--z-details-marker-size);
  margin-inline: calc((var(--z-details-marker-size) / 4) * -1) var(--z-space-1);
  vertical-align: middle;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.8 11.3 10.6 7a1 1 0 1 0-1.4 1.5l3.5 3.5-3.5 3.5a1 1 0 0 0 0 1.4 1 1 0 0 0 .7.3 1 1 0 0 0 .7-.3l4.2-4.2a1 1 0 0 0 0-1.4Z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.8 11.3 10.6 7a1 1 0 1 0-1.4 1.5l3.5 3.5-3.5 3.5a1 1 0 0 0 0 1.4 1 1 0 0 0 .7.3 1 1 0 0 0 .7-.3l4.2-4.2a1 1 0 0 0 0-1.4Z'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat
}

@media (prefers-reduced-motion: no-preference) {
  .z-markdown-content summary:not(:where(.not-content *)):before {
    transition: transform 180ms ease
  }
}

.z-markdown-content details[open]>summary:not(:where(.not-content *)):before {
  transform: rotate(90deg)
}

[dir=rtl] .z-markdown-content summary:not(:where(.not-content *)):before,
.z-markdown-content [dir=rtl] summary:not(:where(.not-content *)):before {
  transform: rotate(180deg)
}

.z-markdown-content summary:not(:where(.not-content *)) p:only-child {
  display: inline
}

/* Space around sections */
.z-markdown-content :not(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)),
.z-markdown-content :not(a, strong, em, del, span, input, code)+hr:not(:where(.not-content *)),
.z-markdown-content hr:not(:where(.not-content *))+ :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
  margin-top: calc(var(--paragraph-spacing) + var(--z-space-8));
}

/**
 * Code blocks
 */
@media (prefers-color-scheme: dark) {

  .z-markdown-content .astro-code,
  .z-markdown-content .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

/* Space around asides and code blocks */
.z-markdown-content :not(a, strong, em, del, span, input, code)+ :is(.expressive-code) {
  margin-top: calc(var(--paragraph-spacing) + var(--z-space-2));
}

.z-markdown-content :is(.expressive-code)+ :is(.expressive-code) {
  margin-top: calc(var(--paragraph-spacing) + var(--z-space-4));
}

/* Plain blocks */
.z-markdown-content .expressive-code .frame:not(.has-title):not(.is-terminal) pre {
  border-color: var(--z-color-border);
  border-radius: var(--z-radius-none);
  background-color: transparent
}

.z-markdown-content .expressive-code .copy {
  inset-block-start: calc(var(--ec-brdWd) + var(--button-spacing) + .1rem)
}

.z-markdown-content .expressive-code .copy .feedback {
  --tooltip-bg: var(--z-color-tooltip-bg);
  font-size: var(--z-text-label-12);
  line-height: 1;
  padding: var(--z-space-1) var(--z-space-2);
  text-transform: uppercase;
  letter-spacing: 0
}

.z-markdown-content .expressive-code .copy button {
  width: var(--z-space-8);
  height: var(--z-space-8);
  border-radius: var(--z-radius-none);
  background-color: var(--z-color-bg);

  &:before {
    opacity: 1;
    border-color: var(--z-color-border)
  }

  & div {
    background-color: transparent
  }
}

@media (hover: hover) {

  .z-markdown-content .expressive-code .frame:hover .copy button:not(:hover),
  .z-markdown-content .expressive-code .frame:focus-within :focus-visible~.copy button:not(:hover),
  .z-markdown-content .expressive-code .frame .copy .feedback.show~button:not(:hover) {
    opacity: 1
  }
}

.z-markdown-content .expressive-code .frame.has-title:not(.is-terminal) .header {
  background: transparent;
  border-bottom: 1px solid var(--z-color-border);
  border-radius: var(--z-radius-none)
}

.z-markdown-content .expressive-code .frame.has-title:not(.is-terminal) .header:before {
  border-color: var(--z-color-border)
}

.z-markdown-content .expressive-code .frame.has-title:not(.is-terminal) .title {
  border-width: 1px 1px 0;
  border-style: solid;
  font-size: var(--z-text-copy-14);
  background: transparent;
  border-radius: var(--z-radius-none);
  border-color: var(--z-color-border) var(--z-color-border) transparent
}

.z-markdown-content .expressive-code .frame.has-title:not(.is-terminal) .title:after {
  border: none
}

.z-markdown-content .expressive-code .frame pre {
  background: transparent
}

.z-markdown-content .expressive-code .frame.has-title pre {
  border-color: var(--z-color-border)
}

.z-markdown-content .expressive-code .frame.is-terminal .header {
  font-size: var(--z-text-copy-14);
  font-weight: 400;
  border-radius: var(--z-radius-none);
  background: transparent;
  border-color: var(--z-color-border)
}

.z-markdown-content .expressive-code .frame.is-terminal .header:after {
  border-color: var(--z-color-border)
}

.z-markdown-content .expressive-code .frame.is-terminal pre {
  border-color: var(--z-color-border)
}

.z-markdown-content .expressive-code .frame,
.z-markdown-content .frame {
  --ec-tm-markBg: var(--z-color-code-mark-bg);
  --ec-tm-insBg: var(--z-color-code-ins-bg);
  --ec-tm-delBg: var(--z-color-code-del-bg);
}

.z-markdown-content .expressive-code .ec-line.mark>.code,
.z-markdown-content .expressive-code .ec-line.ins>.code,
.z-markdown-content .expressive-code .ec-line.del>.code {
  border-inline-start-color: transparent
}

.z-markdown-content .expressive-code .ec-line mark:before,
.z-markdown-content .expressive-code .ec-line ins:before,
.z-markdown-content .expressive-code .ec-line del:before {
  border-width: 0px
}
