---
const today = new Date()
---

<footer class="flex flex-col items-center bg-(--z-color-black) border-t border-(--z-color-white) [font-size:var(--z-text-sm)] md:[font-size:var(--z-text-base)] lg:[font-size:var(--z-text-lg)]">
	<ul class="list-none">
		<li><a href="/rss.xml">RSS Feed</a></li>
	</ul>
	<p class="text-(--z-color-text-secondary) [font-size:var(--z-text-2xs)] md:[font-size:var(--z-text-xs)] lg:[font-size:var(--z-text-sm)]">&copy; {today.getFullYear()} shuzhi.zone All rights reserved.</p>
</footer>
