---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
	exact?: boolean
}

const { href, class: className, exact = false, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const normalizedHref = href?.split(/[?#]/)[0]
const subpath = pathname.match(/[^\/]+/g)
const isActive = exact
	? normalizedHref === pathname
	: normalizedHref === pathname || normalizedHref === '/' + (subpath?.[0] || '')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
