---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="header">
	<nav class="header__nav">
		<div class="header__brand">
			<a href="/">{SITE_TITLE}</a>
		</div>
		<ul class="header__nav-list">
			<HeaderLink href="/">Writing</HeaderLink>
			<HeaderLink href="/reading">Reading</HeaderLink>
			<HeaderLink href="/listening">Listening</HeaderLink>
		</ul>
	</nav>
</header>

<style>
	.header {
		position: sticky;
		top: 0;
		z-index: var(--z-z-index-navbar);

		background-color: var(--z-color-black);

		border-color: var(--z-color-hairline-light);
		border-bottom: 1px solid var(--z-color-white);
	}

	.header__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin: 0 auto;

		max-width: 96rem;

		padding: 0.75rem 1rem;
	}

	.header__brand a {
		font-weight: 700;
		letter-spacing: -0.02em;

		font-size: var(--z-text-base);
	}

	.header__nav-list {
		display: flex;
		align-items: center;

		gap: 1rem;
	}

	.header__nav-list a {
		font-weight: 600;
		color: var(--z-color-text-secondary);

		font-size: var(--z-text-sm);
	}

	.header__nav-list a:hover,
	.header__nav-list a.active {
		color: var(--z-color-text-accent);
	}

	/* md	48rem (768px) */
	@media (width >= 48rem) {
		.header__nav {
			padding: 1rem 1.5rem;
		}

		.header__brand a {
			font-size: var(--z-text-lg);
		}

		.header__nav-list {
			gap: 1.5rem;
		}

		.header__nav-list a {
			font-size: var(--z-text-base);
		}
	}

	/* lg	64rem (1024px) */
	@media (width >= 64rem) {
		.header__nav {
			padding: 1.25rem 2rem;
		}

		.header__brand a {
			font-size: var(--z-text-xl);
		}

		.header__nav-list {
			gap: 2rem;
		}

		.header__nav-list a {
			font-size: var(--z-text-lg);
		}
	}
</style>
