---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import SiteIdentity from '../components/SiteIdentity.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  lang?: string
  pageLayout?: 'narrow' | 'medium' | 'wide' | 'article'
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = '/open-graph-image.webp', lang = 'en', pageLayout = 'narrow' } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
      image={image}
      canonicalURL={canonicalURL}
    />
  </head>
  <body class:list={['z-page-shell', `z-page-shell--${pageLayout}`]}>
    <SiteIdentity />
    <slot />

    <Footer />
  </body>
</html>
